*.pyc
*.project
*.pydevproject
*.pyc
*.pyc
dames/__pycache__/piece.cpython-33.pyc
dames/.settings/org.eclipse.core.resources.prefs
dames/__pycache__/piece.cpython-33.pyc
dames/__pycache__/piece.cpython-33.pyc
dames/__pycache__/piece.cpython-33.pyc